@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap');

body {
  margin: 0;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}


div.scrollmenu {
  display: flex;
  justify-content: center;
  background-color: rgb(170,80, 20);
  margin-top: 25px;
  width: 100%; 
}

div.scrollmenu a {
  color: rgb(18, 8, 75);
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-size: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

div.scrollmenu a:hover {
  background-color: #34724c;
  transform: scale(1.1);
}





