@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap')

div.scrollmenu a {
  display: flex;
  justify-content: center; 
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: rgb(18, 8, 75);
  text-align: center;
  padding: 21px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

div.scrollmenu a:hover {
  background-color: #34724c;
  transform: scale(1.1);
}

