@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap');

body {
  margin: 0;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

/* Centrer le menu horizontalement */
div.scrollmenu {
  display: flex;
  justify-content: center; /* Centrage horizontal des liens */
  background-color: yellow;
  margin-top: 20px;
  width: 100%; /* Le conteneur prend toute la largeur */
}

div.scrollmenu a {
  color: rgb(85, 101, 136);
  text-align: center;
  padding: 21px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

div.scrollmenu a:hover {
  background-color: #34724c;
  transform: scale(1.1);
}





